.indigo {
  background-color: $indigo-400;
}

.px-7 {
  padding-left: $spacer * 10.3;
  padding-right: $spacer * 10.3;
}

.img-size {
  width: 349px;
  height: 180px;
}

.height {
  height: 500px;
}
